.form {
  text-align: center;
}

.nameText{
  width: 250px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.emailText{
    width: 250px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

.messageText {
  height: 250px;
  width: 500px;
  font-size: 15px;
  margin: 10px;
}

.emailButton {
  margin-top: 5px;
  color: white;
  background: lightgrey;
  height: 30px;
  width: 100px;
  font-size: 12px;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 15px black;
  font-family: sans-serif;
  border: none;
  margin-bottom: 60px;
}

.emailButton:hover {
  cursor: pointer;
  background: #ae7973;
}
