.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  margin-top: 0px;
  height: 100px;
  background-color: #7395ae;
  justify-content: space-between;
}

.cj {
  font-size: 35px;
  font-family: georgia;
  padding-top: 25px;
}

.links {
  display: flex;
  flex-direction: row;
}

.skills2 {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: #938E94;
  border: solid 2px #5d5c61;
  margin-top: 5px;
  margin-left: 5px;
}

.skills2:hover {
  background-color: #ae7973;
}

.skills {
  color: white;
  height: 100px;
  width: 100px;
  font-size: 20px;
  background-color: #938E94;
  border: none;
  outline: none;
  padding: 0px;
}

.work {
  color: white;
  height: 100px;
  width: 100px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0px;
  background-color: #868587;
}

.contact {
  color: white;
  height: 100px;
  width: 100px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0px;
  background-color: #5d5c61;
}

.contact:hover {
  background-color: #ae7973;
}

.skills:hover {
  background-color: #ae7973;
}

.work:hover {
  background-color: #ae7973;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  color: white;
  text-shadow: 1px 1px 15px black;
  font-family: sans-serif;
}
