.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  margin-top: 0px;
  height: 100px;
  background-color: #7395ae;
  justify-content: space-between;
}

h1 {
  font-family: georgia, sans-serif;
  color: #5d5c61;
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

img {
  border: solid 2px #5d5c61;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
}

.links {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.skills {
  color: white;
  width: 50px;
  padding: 40px 20px;
  margin-top: 0px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #938E94;
}

.work {
  color: white;
  width: 50px;
  padding: 40px 20px;
  margin-top: 0px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #868587;
}

.contact:hover {
  background-color: #ae7973;
}

.skills:hover {
  background-color: #ae7973;
}

.work:hover {
  background-color: #ae7973;
}



.contact {
  color: white;
  width: 50px;
  padding: 40px 30px;
  margin-top: 0px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 10px;
  background-color: #5d5c61;
}
